*
{
    background-color: lightgrey !important;
}
#tête
{
    text-align: center;
}
.nav
{
    display: flex;
    justify-content: space-evenly;
}
.image
{
    width: 100%;
}
#reseau_sociaux
{
    display: flex;
    justify-content: space-evenly;
}
#Tech
{
    display: flex;
    justify-content: space-evenly;
}
.carousel
{
    padding: 3rem;
}
.carousel-indicators [data-bs-target]
{
    background-color: black;
}
.card
{
    margin-bottom: 5%;
}
@media screen and (max-width: 815px)
{
    *
    {
        padding-right: 15px;
    }
    .carousel
    {
        display: none;
    }
}
@media (max-width: 840px) 
{
    h2, p
    {
        text-align: center;
    }
}   